<% provide(:title, "Log in") %>

<div class="jumbotron">
  <div class="row pop-out">
    <div class="col-md-8 col-md-offset-2">
      <%= image_tag 'vtmBannerTrans' %>
      <div class="info">
        Welcome to the unofficial card DB and deckbuilder for Renegade Games
        Studios' Vampire: the Masquerade Rivals
      </div>
      <%= render 'sessions/loginForm' %>
    </div>
  </div>
</div>
