<% provide(:title, "Password Reset") %>

<div class="user-info">
  <div class="row pop-out">
    <div class="col-md-8 col-md-offset-2">
      <div class="info">
        <h3>Reset password</h3>
      </div>
      <%= form_with(url: password_resets_path, scope: :password_reset,
                    local: true) do |f| %>
        <%= f.label :email, "Email Address" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit "Submit", class: "btn lg-btn" %>
      <% end %>
    </div>
  </div>
</div>
