<% provide(:title, 'Edit profile') %>

<div class="user-info">
  <div class="row pop-out">
    <div class="col-md-8 col-md-offset-2">
      <div class="info">
        <h2>Edit your profile</h2>
      </div>
      <%= render 'form', text: "Save changes" %>

      <div class="offset">
        <%= link_to "Delete Profile", @user, method: :delete,
                                               data: { confirm: "Are you sure? This will permanently delete your profile." } %>
      </div>
    </div>
  </div>
</div>
