<% provide(:title, 'Sign up') %>

<div class="user-info">
  <div class="row pop-out">
    <div class="col-md-8 col-md-offset-2">
      <div class="info">
        <h3>This project is entirely independant and for personal use.</h3>
      </div>
      <%= render 'form', text: "Create account" %>
    </div>
  </div>
</div>
