<% provide(:title, 'Card Search') %>
<h1>All Cards</h1>

<%= form_with url: cards_path, method: :get, local: false do |f| %>
<%= render 'shared/search', :f => f %>
<% end %>

<div id="card-list">
  <div class="row">
    <div class="col-md-4">
      Name
    </div>
    <div class="col-md-4">
      Faction
    </div>
    <div class="col-md-4">
      Type
    </div>
  </div>
<div id="card-list">
  <div class="results">
    <%= render @cards %>
  </div>
</div>
