@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
 -moz-box-sizing:    border-box;
 -webkit-box-sizing: border-box;
 box-sizing:         border-box;
}

/* universal */

body {
  padding-left: 60px;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* Home page */
.jumbotron {
  // background-image: url(Hydra.jpeg);
  // background-repeat: no-repeat;
  // background-size: contain;
  height: 50vh;
}

/* Search bar styling */
input {
  margin: 0 10px;
}
select {
  margin: 0 10px;
}
.search-bar {
  margin: 20px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
