@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

@mixin box_sizing {
 -moz-box-sizing:    border-box;
 -webkit-box-sizing: border-box;
 box-sizing:         border-box;
}
$white: #ccc;

/* universal */
body {
  background: linear-gradient(183deg, rgba(141,35,46,0.5) 1%, rgba(141,35,46,0) 60%),
              linear-gradient(250deg, rgba(141,35,46,0) 21%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
              linear-gradient(250deg, rgba(141,35,46,0) 23%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
              linear-gradient(250deg, rgba(141,35,46,0) 25%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
              repeating-linear-gradient(179deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 5px);
  background-color: #0b232f;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-color: #d1b59d;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
input[type=text] {
  background: $white;
  color: #333;
  width: 100%;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.content {
  padding-top: 50px;
  margin: auto;
  max-width: 2000px;
}
.inner-content {
  margin-left: 20px;
  margin-bottom: 10px;
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}
.container {
  padding: 0 20px;
  margin: 10px 0;
  width: 100%;
}
/* layout */
.centered {
  margin: auto;
}
.right {
  position: fixed;
}
.padding-0 {
  padding: 0;
}
.p-20 {
  padding: 20px;
}
.m-10 {
  margin: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.offset {
  margin-left: 20px;
}
.full-w {
  width: 100%
}
/* Typography */
.bold {
  text-transform: uppercase;
  font-weight: bold;
}
.small {
  font-size: 1.1rem;
}
.white {
  color: $white;
}
.white-link a {
  color: #Eaf4fc;
}
.lg-btn {
  background: #000;
  border-radius: 5px;
  color: $white;
}
/* nav styles */
header {
  width: 100%;
}
nav {
  margin-right: 20px;
}
.dropdown-menu-dark {
  background-color: #222;
  li {
    a {
      color: #9d9d9d;
    }
  }
}
.navbar {
  margin-bottom: 0;
}
.fa {
  color: inherit;
  font-size: 1.7rem;
  padding-top: 15px;
  padding-right: 15px;
}

/* signup/login/edit style */
.user-info {
  background-image: url(red_moon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 90vh;
  margin: auto;
}
.jumbotron {
  background-image: url(rivals_bg_3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 90vh;
  margin: 30px auto;
  max-width: 1100px;
  padding-top: 50px;
}
.pop-out {
  background-color: rgba(51, 51,  51, 0.8);
  border-radius: 15px;
  color: #ccc;
  display: flex;
  align-items: center;
  margin: auto;
  padding-bottom: 10px;
  min-height: 300px;
  min-width: 250px;
  width: 60%;
  img {
    margin-top: 20px;
    padding-top: 30px;
    width: 100%;
  }
  input {
    margin: 5px;
  }
  p a {
    font-size: 1.8rem;
    font-weight: bold;
  }
}
.info {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

/* Deck index styling */
.deck-row {
  background-color: #ccc;
  border-radius: 10px;
  max-width: 750px;
  margin: 0 20px 30px;
  padding: 30px;
  a {
    color: #600;
    text-decoration: underline;
  }
}
.name-form {
  border: 1px solid $white;
  border-radius: 5px;
  margin-top: 15px;
  input[type=text] {
    width: 50%;
  }
}
/* Deck list styling */
.deck-main {
  margin-top: 50px;
}
.deck-info {
  margin-bottom: 20px;
  input {
    margin: 5px 0;
  }
  [type=text] {
    width: 50%;
  }
  a, form {
   display: inline;
 }
 a {
   color: $white;
   padding-left: 30px;
 }
}
.dynamic-img {
  padding: 10px;
  width: 100%;
}
.inner-form {
  color: #000;
  margin: 30px auto;
  textarea {
    background: $white;
    height: 100px;
    width: 100%;
  }
}
.btn-round {
  background: transparent;
  border-radius: 50%;
  color: #d1b59d;
  font-size: 1rem;
  font-weight: bold;
}
/* Search bar styling */
input {
  margin: 0 10px;
}
select {
  margin: 0 10px;
}
.sm-btn {
  background: $white;
  border: 1px solid #0b232f;
  margin: 1px 0;
  padding: 0 4px;
  width: 100%;
  &:active {
    background-color: #000;
  }
}
.split-form {
  input {
    background-color: #000;
    border: 1px solid $white;
    border-radius: 5px;
    color: $white;
    margin: 10px 0;
  }
  [type=submit] {
    padding: 0 30px;
    width: 100%;
  }
  select {
    background-color: #000;
    border: 1px solid $white;
    border-radius: 5px;
    color: $white;
    margin: 10px 0;
    padding: 2px;
    width: 100%;
  }
}
.buttons form {
  float: left;
}
.active {
  background-color: #bfbdbd !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 13%);
}

/* Card list styling */
.card-list {
  background-color: rgba(176, 164, 164, 0.5);
  color: #000;
  margin: auto;
  padding: 20px;
}
.list-header {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
.list {
  a {
    color: #000;
  }
}
.card-row {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #e0dede;
  }
}
.card-pic {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  img {
    height: 300px;
  }
}
.pic-link {
  background-color: #000;
  border-radius: 10px;
  padding: 10px;
  width: 240px;
  a {
    color: #0645AD;
    margin-top: 20px;
  }
}
/* Card show */
.card-page {
  margin: 20px auto;
}
/* footer */

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* media queries */
@media only screen and (max-width: 990px) {
  body {
    font-size: 1.2rem;
  }
  .right {
    position: inherit;
  }
  .scrollable {
    height: auto;
    overflow: hidden;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 5px;
    width: 100%;
  }
}
