
<%# Refactored to generelized cardGroup partial. Delete after thorough testing %>

<div id="agendas">
  <h4>Agenda (<span id="Agenda-count"><%= @agendas.length %></span>)</h4>

  <div class="card-container">
    <% @agendas.uniq.each do |card| %>
      <%= render 'decks/deckCard', card: card, card_count: @agendas.where(name: card.name).length %>
    <% end %>
  </div>
</div>
