<div id="agendas">
  <h2>Agenda</h2>
  <h1>Card count: <%= @agendas.length %></h1>
  <div class="card-container">
    <% @agendas.uniq.each do |card| %>
      <%= render card, card_count: @agendas.select{|c| c.name == card.name}.length %>
    <% end %>
  </div>

</div>
