<div id="agendas">
  <h3>Agendas: <span id="Agenda-count"><%= @agendas.length %></span></h3>
  <div class="">
    1 per deck
  </div>
  <div class="card-container">
    <% @agendas.uniq.each do |card| %>
      <%= render 'decks/deckCard', card: card, card_count: @agendas.where(name: card.name).length %>
    <% end %>
  </div>
</div>
