<div id="c_<%= card.id %>" class="row">
  <div class="col-md-2 name ">
    <%= card.name %>
  </div>
  <div class="col-md-2 faction">
    <%= card.faction %>
  </div>
  <div class="col-md-2 count">
    <%= card_count %>
  </div>

</div>
