
<%# Refactored to generelized cardGroup partial. Delete after thorough testing %>


<div id="characters">
  <h3>Characters: <span id="Character-count"><%= @characters.length %></span></h3>
  <div class="">
    7 per deck
  </div>
  <div class="card-container">
    <% @characters.uniq.each do |card| %>
      <%= render 'decks/deckCard', card: card, card_count: @characters.where(name: card.name).length %>
    <% end %>
  </div>
</div>
