<div class="deck-info">
  <h1><%= @deck.name %></h1>
  <%# render deck options for owner only %>
  <% if current_user?(@deck.user) %>
    <%= render 'decks/nameForm', deck: @deck %>
  <% end %>
</div>
