<div id="havens">
  <h3>Havens: <span id="Haven-count"><%= @havens.length %></span></h3>
  <div class="">
    1 per deck
  </div>
  <div class="card-container">
    <% @havens.uniq.each do |card| %>
      <%= render 'decks/deckCard', card: card, card_count: @havens.where(name: card.name).length %>
    <% end %>
  </div>
</div>
