
<%# Refactored to generelized cardGroup partial. Delete after thorough testing %>

<div id="havens">
  <h4>Haven (<span id="Haven-count"><%= @havens.length %></span>)</h4>

  <div class="card-container">
    <% @havens.uniq.each do |card| %>
      <%= render 'decks/deckCard', card: card, card_count: @havens.where(name: card.name).length %>
    <% end %>
  </div>
</div>
