<div id="havens">
  <h2>Haven</h2>
  <h1>Card count: <%= @havens.length %></h1>
  <div class="card-container">
    <% @havens.uniq.each do |card| %>
      <%= render card, card_count: @havens.select{|c| c.name == card.name}.length %>
    <% end %>
  </div>

</div>
