
<%# Refactored to generelized cardGroup partial. Delete after thorough testing %>

<div id="library">
  <h3>Library: <span id="Library-count"><%= @library.length %></span></h3>
  <div class="">
    40 - 60 per deck
  </div>
  <div class="card-container">
    <% @library.uniq.each do |card| %>
      <%= render 'decks/deckCard', card: card, card_count: @library.where(name: card.name).length %>
    <% end %>
  </div>
</div>
