<%= form_tag(deck_path(deck), method: :patch) do %>
  <%= text_field_tag(:name, "Name your deck") %>
  <%= submit_tag ("Update name") %>
<% end %>
<div class="white small m-10">
  Changes to deck saved automatically
</div>
