<%= form_with model: deck do |f| %>
  <%= f.text_field :name, placeholder: "Rename Deck" %>
  <%= f. submit "Update name", class:"m-10" %>
<% end %>

<div class="white small m-10">
  Changes to deck saved automatically
</div>
