<% provide(:title, 'Decks') %>
<h1>All Decks</h1>

<ul class="decks">
  <% @decks.each do |deck| %>
    <li>
      <%= link_to deck.name, deck %>
    </li>
    <li><%= deck.user.username %></li>
  <% end %>
</ul>
