<% provide(:title, 'User') %>
<div class="container">
  <div class="row p-20">
    <div class="col-md-4 white">
    </div>
    <div class="col-md-3 name-form">

    </div>
  </div>
  <% @decks.each do |deck| %>

    <% if deck.public %>
      <%= link_to deck do %>
        <%= render 'users/deckRow', deck: deck %>
      <% end %>
    <% end%>
  <% end %>

</div>
